@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a asp-page="Users" asp-route-id="101" asp-route-name="Alex" asp-route-age="25">Go to Users</a></p>
    <p><a asp-page="Exchange">Go to Exchange</a></p>
</div>
