@{
    ViewData["Title"] = "Временная блокировка";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Слишком много неудачных попыток входа. Аккаунт временно заблокирован. Попробуйте повторить попытку входа через несколько минут.</p>
    <a asp-action="Login">Войти</a>
</header>