@{
    ViewData["Title"] = "Персональные данные";
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>На этой странице вы можете скачать или удалить персональные данные</p>
        <p>
            <strong>Удаление данных безвозвратно удаляет ваш аккаунт</strong>
        </p>
        <form id="download-data" asp-action="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Скачать</button>
        </form>
        <p>
            <a id="delete" asp-action="DeletePersonalData" class="btn btn-secondary">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
}
