@{
    ViewData["Title"] = "Сброс ключа аутентификации";
}

@if (ViewData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        @ViewData["Message"]
    </div>
}
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Если вы сбросите ключ аутентификации, то приложение для авторизации не будет работать, пока вы его не перенастроите</strong>
    </p>
    <p>Сброс ключа отключает двухфакторную авторизацию. Если вы не закончили настройку приложения двухфакторной авторизации - вы можете потерять доступ к аккаунту.</p>
</div>
<div>
    <form id="reset-authenticator-form" asp-action="DoResetAuthenticator" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Сбросить ключ</button>
    </form>
</div>