@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Двухфакторная авторизация";
}

@*<partial name="_StatusMessage" for="StatusMessage" />*@
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>У вас не осталось кодов восстановления</strong>
            <p>Вам следует <a asp-action="GenerateRecoveryCodes">сгенерировать новые коды восстановления</a></p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>У вас остался 1 код восстановления</strong>
            <p>Вы можете <a asp-action="GenerateRecoveryCodes">сгенерировать новые коды восстановления</a></p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>У вас осталось @Model.RecoveryCodesLeft кодов восстановления</strong>
            <p>Вы можете <a asp-action="GenerateRecoveryCodes">сгенерировать новые коды восстановления</a></p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">Забыть этот браузер</button>
        </form>
    }
    <a asp-action="Disable2fa" class="btn btn-default">Отключить двухфакторную авторизацию</a>
    <a asp-action="GenerateRecoveryCodes" class="btn btn-default">Сбросить коды восстановления</a>
}

<h5>Приложения двухфакторной авторизации</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-action="EnableAuthenticator" class="btn btn-default">Добавить приложение двухфакторной авторизации</a>
}
else
{
    <a id="enable-authenticator" asp-action="EnableAuthenticator" class="btn btn-default">Настроить приложение двухфакторной авторизации</a>
    <a id="reset-authenticator" asp-action="ResetAuthenticator" class="btn btn-default">Сбросить приложение двухфакторной авторизации</a>
}

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
}