@addTagHelper *, MVCApp
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-action="Signalr" class="btn btn-primary">Go to SignalR</a>
    <a asp-action="SignalrTest">SignalR test</a>

    <form asp-action="SignalrNotification">
        <input name="msg" />
        <button type="submit">Send</button>
    </form>
    
    <br/>
    <a asp-action="Index" asp-controller="Upload">Go to upload</a>
</div>

<div>
    @await Component.InvokeAsync("Timer", new { includeSeconds = true })
    <br />
    <vc:timer include-seconds="false" format24="false" />
    <hr />
    @await Component.InvokeAsync("TimerHtml")
    <br />
    <vc:timer-html />
    <hr />
    @await Component.InvokeAsync("UsersList")
    <br />
    <vc:users-list />
    <hr />
    @await Component.InvokeAsync("AsyncTest", new { delay = 1000 });
    <vc:async-test delay="1000" />
    <hr/>
    <vc:show-context foo="barrr" />
    <br />
    <a asp-action="GetTime1" asp-controller="Cache">Cache test</a>
</div>