@{
    ViewData["Title"] = "Create user";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" asp-controller="Home">
    <div>
        <div class="form-group">
            <label>Name</label>
            <input name="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="email" type="email" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Age</label>
            <input name="age" type="number" class="form-control"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-secondary">Save</button>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Home" asp-action="Index">< Back</a>
</div>