@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="">Example controller</h1>
    <p>Go <a href="/">Home</a></p>
</div>